<h2><%= @author.name %></h2>
<p>This author has written the following books:</p>
<ul>
  <% @author.books.each do |book| %>
    <% if @author.name == book.authors.first.name %>
      <li><%= book.booktitle %></li>
    <% end %>
  <% end %>
</ul>
